[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
python-dotenv = "*"
Werkzeug = "*"
Flask = "==1.1.4"
Flask-Cors = "*"
PyMySQL = "*"
SQLAlchemy = "*"
pymysql = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.8"
