.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    left: 0;
}

.headlineTable {
    width: 100%;
    font-size: 14px;
}

.headlineTable table,
th,
td {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid;
}